---
import ThemeIcon from '@/components/ThemeIcon.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts'

export const prerender = true
---

<div class="my-6 flex">
    <a href="/" class="hover:cursor-pointer opacity-100 hover:opacity-80 panda-link">
        <i class="hidden">website header</i>
        <h1>{SITE_TITLE}</h1>
    </a>
    <div class="text-sm place-content-center inline ml-auto">
        <ThemeIcon />
    </div>
</div>
