---
import { useTranslations, type Lang } from '@/utils/i18n'
import { PandaConfig } from '../config.js'

const url = Astro.url
const locale = Astro.currentLocale as Lang
const t = useTranslations(locale)
const { navbar } = PandaConfig

const items = navbar
const isRootPage = () => !items.some((item) => url.toString().includes(item.url))
---

<nav class={url.toString().includes('/posts/') ? 'hidden' : ''}>
    <a
        rel="prefetch"
        href="/"
        class="panda-link mr-4 animated hover:no-underline"
        class:list={isRootPage() ? 'active' : ''}>{t('posts')}</a
    >
    {
        items.map((item) => {
            return (
                <a
                    rel="prefetch"
                    href={item.url}
                    class="panda-link mr-4 animated hover:no-underline"
                    class:list={url.toString().includes(item.url) ? 'active' : ''}
                >
                    {item.title}
                </a>
            )
        })
    }
</nav>
